<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>__DISPLAY__</string>
	<key>CFBundleExecutable</key>
	<string>__NAME__</string>
	<key>CFBundleIdentifier</key>
	<string>__BUNDLE_ID__.__NAME__</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>__NAME__</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>__BUILD__</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>__POINT__</string>
		<key>NSExtensionPrincipalClass</key>
		<string>__PRINCIPAL__</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Rule sources: EasyList, EasyPrivacy (GPLv3 / CC BY-SA 3.0), List-KR, YousList</string>
</dict>
</plist>
